[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "flask run"

[dev-packages]
rope = "*"
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-cors = "*"
elasticsearch-dsl = "*"
elasticsearch = "*"

[requires]
python_version = "3.8"
