[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
flask = "*"
python-dotenv = "*"
elasticsearch = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.8"
